
main{
    /* background-color: aqua; */
}
footer{
    background-color: beige;
}
nav{
    text-align: right;
}
#nav1 a{
    color:gray
}
#nav2 a{
    color:black;
    font-size:30px;
    margin-right: 10px;
    font-weight: bold;
}
nav a{
    text-decoration: none;
  
}
#seccion1{
    background-color: blue;
    padding-bottom: 20px;
}

#cajitaBlanca{
    margin-left: 10%;
    background-color: white;
    width: 60%;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    
}
#cajitaImagen{
    width: 25%;
    display: inline;
    background-color: aqua;
    margin-left: 5%;
}
#buscador{
    background-color: white;
   
    width: 70%;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    /* height: 30px; */
}
#iBuscador{
    height: 100%;
    width: 85%;
    border: none;
    border-radius: 10px;
}
#btnBuscar{
    height: 100%;
    /* width: 8%; */
    color: white;
    background-color: green;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 10px 0;
}
.titulo1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}
.parrafo1{
    text-align: center;
}
.linea1{
    width: 5%;
    margin: auto;
    background-color: green;
    border: solid 1px green;
}
.tarjeta{
    background-color: grey;
    text-align: center;
    padding: 10px 10px;
    width: 25%;
    border-radius: 15px;
    display: inline-block;
}
.tarjeta p{
    text-align: left;
}
.tarjeta button{
    color: white;
    background-color: blue;
    border:none;
    border-radius: 15px;
    padding: 10px 30px;
}
.tarjeta img{
    height: 200px;
    
}
.contenedorTarjeta{
    display: inline;

    margin-left: 200px;*/
}

.rosa{
    /*background-color: deeppink;*/
    display:center;
}

.tarjeta{
    background-color: grey;
    text-align: center;
    padding: 10px 10px;
    width: 25%;
    border-radius: 15px;
    display: inline-block;
}

.contenedorT2{
    display: inline;
    margin-left: 200px;*/;
}



















